ComputerStore/ComputerStore.Client/Service References/BusinessLogic/Logic2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51437/Logic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
  <xs:element name="Eger_GetByUsbID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByUsbIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Eger_GetByUsbIDResult" nillable="true" type="q1:PageableListOfEger6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByPs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Eger_GetByPsResult" nillable="true" type="q2:PageableListOfEger6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarTipus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarTipusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Hattertar_GetByHattertarTipusResult" nillable="true" type="q3:PageableListOfHattertar6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarCsatolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarCsatoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Hattertar_GetByHattertarCsatoloResult" nillable="true" type="q4:PageableListOfHattertar6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetByFoglalat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetByFoglalatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Memoria_GetByFoglalatResult" nillable="true" type="q5:PageableListOfMemoria6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetListByFoglalat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetListByFoglalatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Memoria_GetListByFoglalatResult" nillable="true" type="q6:ArrayOfMemoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByMeret">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByMeretResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Monitor_GetByMeretResult" nillable="true" type="q7:PageableListOfMonitor6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByFelbontas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByFelbontasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Monitor_GetByFelbontasResult" nillable="true" type="q8:PageableListOfMonitor6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetByFoglalat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetByFoglalatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Processzor_GetByFoglalatResult" nillable="true" type="q9:PageableListOfProcesszor6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetListByFoglalat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetListByFoglalatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Processzor_GetListByFoglalatResult" nillable="true" type="q10:ArrayOfProcesszor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Szamitogephaz_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Szamitogephaz_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Szamitogephaz_GetResult" nillable="true" type="q11:PageableListOfSzamitogephaz6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Tapegyseg_GetResult" nillable="true" type="q12:PageableListOfTapegyseg6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Videokartya_GetResult" nillable="true" type="q13:PageableListOfVideokartya6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="PCIExpress_GetByNameResult" nillable="true" type="q14:ArrayOfPciExpressTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="PCIExpress_GetByIDResult" nillable="true" type="q15:PciExpressTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q16:PciExpressTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q17:PciExpressTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesszorFoglalat_GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesszorFoglalat_GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcesszorFoglalat_GetByNameResult" nillable="true" type="q18:ArrayOfProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesszorFoglalat_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesszorFoglalat_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcesszorFoglalat_GetByIDResult" nillable="true" type="q19:ProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="VgaCsatolo_GetByNameResult" nillable="true" type="q20:ArrayOfVgaCsatoloFeluletTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="VgaCsatolo_GetByIDResult" nillable="true" type="q21:VgaCsatoloFeluletTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q22:VgaCsatoloFeluletTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q23:VgaCsatoloFeluletTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Gyarto_GetByNameResult" nillable="true" type="q24:ArrayOfAlkatreszGyarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Gyarto_GetByIDResult" nillable="true" type="q25:AlkatreszGyarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q26:AlkatreszGyarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q27:AlkatreszGyarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorCsatolo_GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorCsatolo_GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorCsatolo_GetByNameResult" nillable="true" type="q28:ArrayOfMonitorCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorCsatolo_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorCsatolo_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorCsatolo_GetByIDResult" nillable="true" type="q29:MonitorCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorCsatolo_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q30:MonitorCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorCsatolo_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorCsatolo_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q31:MonitorCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorCsatolo_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetByIDResult" nillable="true" type="q32:Alaplap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Billentyuzet_GetByIDResult" nillable="true" type="q33:Billentyuzet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Eger_GetByIDResult" nillable="true" type="q34:Eger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Hattertar_GetByIDResult" nillable="true" type="q35:Hattertar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Memoria_GetByIDResult" nillable="true" type="q36:Memoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Monitor_GetByIDResult" nillable="true" type="q37:Monitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Processzor_GetByIDResult" nillable="true" type="q38:Processzor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Szamitogephaz_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Szamitogephaz_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Szamitogephaz_GetByIDResult" nillable="true" type="q39:Szamitogephaz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Tapegyseg_GetByIDResult" nillable="true" type="q40:Tapegyseg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Videokartya_GetByIDResult" nillable="true" type="q41:Videokartya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Videokartya_GetListResult" nillable="true" type="q42:ArrayOfVideokartya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlaplap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlaplapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBillentyuzet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBillentyuzetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEgerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHattertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHattertarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMonitorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProcesszor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProcesszorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSzamitogephaz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSzamitogephazResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTapegyseg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTapegysegResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVideokartya">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVideokartyaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetListByAlaplapAndTipus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alaplapId" type="xs:int" />
        <xs:element minOccurs="0" name="tipus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetListByAlaplapAndTipusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Hattertar_GetListByAlaplapAndTipusResult" nillable="true" type="q43:ArrayOfHattertar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetUsbTipusok">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alaplapID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetUsbTipusokResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetUsbTipusokResult" nillable="true" type="q44:ArrayOfUsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetListByUsb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usbID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetListByUsbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Billentyuzet_GetListByUsbResult" nillable="true" type="q45:ArrayOfBillentyuzet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetListPS2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetListPS2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Billentyuzet_GetListPS2Result" nillable="true" type="q46:ArrayOfBillentyuzet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetListByUsb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usbID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetListByUsbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Eger_GetListByUsbResult" nillable="true" type="q47:ArrayOfEger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetListPS2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetListPS2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Eger_GetListPS2Result" nillable="true" type="q48:ArrayOfEger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SzamitogepHaz_GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SzamitogepHaz_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="SzamitogepHaz_GetListResult" nillable="true" type="q49:ArrayOfSzamitogephaz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Tapegyseg_GetListResult" nillable="true" type="q50:ArrayOfTapegyseg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetListByMeret">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meretID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetListByMeretResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Monitor_GetListByMeretResult" nillable="true" type="q51:ArrayOfMonitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="USBGetByAlaplapID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="USBGetByAlaplapIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="USBGetByAlaplapIDResult" nillable="true" type="q52:AlaplapUSB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertarGetByAlaplapID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertarGetByAlaplapIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertarGetByAlaplapIDResult" nillable="true" type="q53:AlaplapHatter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorcsatoloGetByVideokartyaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorcsatoloGetByVideokartyaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorcsatoloGetByVideokartyaIDResult" nillable="true" type="q54:VideokartyaMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingVideokartyaDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="csatolo_id" type="xs:int" />
        <xs:element minOccurs="0" name="mondb" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="memoria_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="meret" type="xs:int" />
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingVideokartyaDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingTapegysegDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="telj" type="xs:int" />
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingTapegysegDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingSzamitogephazDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingSzamitogephazDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingProcesszorDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="foglalat_id" type="xs:int" />
        <xs:element minOccurs="0" name="meg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="magok" type="xs:int" />
        <xs:element minOccurs="0" name="frekvencia" type="xs:int" />
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingProcesszorDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingMonitorDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="csatolo_id" type="xs:int" />
        <xs:element minOccurs="0" name="felbontas_id" type="xs:int" />
        <xs:element minOccurs="0" name="meret_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingMonitorDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingMemoriaDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="foglalat_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnevezes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="meret" type="xs:int" />
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingMemoriaDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingEgerDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="usb_id" type="xs:int" />
        <xs:element minOccurs="0" name="ps2" type="xs:boolean" />
        <xs:element minOccurs="0" name="megnevezes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingEgerDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingHattertarDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="csatolo_id" type="xs:int" />
        <xs:element minOccurs="0" name="tipus_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnevezes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="meret" type="xs:int" />
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingHattertarDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingBillentyuzetDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="usb_id" type="xs:int" />
        <xs:element minOccurs="0" name="ps2" type="xs:boolean" />
        <xs:element minOccurs="0" name="megnevezes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingBillentyuzetDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingAlaplapDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usb_id" type="xs:int" />
        <xs:element minOccurs="0" name="hattertar_id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="foglalat_id" type="xs:int" />
        <xs:element minOccurs="0" name="memoria_id" type="xs:int" />
        <xs:element minOccurs="0" name="vga_id" type="xs:int" />
        <xs:element minOccurs="0" name="pci_id" type="xs:int" />
        <xs:element minOccurs="0" name="mem_db" type="xs:int" />
        <xs:element minOccurs="0" name="vga_db" type="xs:int" />
        <xs:element minOccurs="0" name="ps2" type="xs:boolean" />
        <xs:element minOccurs="0" name="megnevezes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="hatdb" type="xs:int" />
        <xs:element minOccurs="0" name="usbdb" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertingAlaplapDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kep" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVideokartya">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="csatolo_id" type="xs:int" />
        <xs:element minOccurs="0" name="csatdb" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="memoria_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="meret" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVideokartyaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTapegyseg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="telj" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTapegysegResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSzamitogephaz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSzamitogephazResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="csatolo_id" type="xs:int" />
        <xs:element minOccurs="0" name="felbontas_id" type="xs:int" />
        <xs:element minOccurs="0" name="meret_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMonitorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMemoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="foglalat_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnevezes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="meret" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMemoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHattertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="csatolo_id" type="xs:int" />
        <xs:element minOccurs="0" name="tipus_id" type="xs:int" />
        <xs:element minOccurs="0" name="megnevezes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="meret" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHattertarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="usb_id" type="xs:int" />
        <xs:element minOccurs="0" name="ps2" type="xs:boolean" />
        <xs:element minOccurs="0" name="megnevezes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEgerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="foglalat_id" type="xs:int" />
        <xs:element minOccurs="0" name="meg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
        <xs:element minOccurs="0" name="magok" type="xs:int" />
        <xs:element minOccurs="0" name="frekvencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCPUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBillentyuzet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="usb_id" type="xs:int" />
        <xs:element minOccurs="0" name="ps2" type="xs:boolean" />
        <xs:element minOccurs="0" name="megnevezes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBillentyuzetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorCsatoloTipusGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorCsatoloTipusGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorCsatoloTipusGetResult" nillable="true" type="q55:ArrayOfMonitorCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorFelbontasGetResult" nillable="true" type="q56:ArrayOfMonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorMeretGetResult" nillable="true" type="q57:ArrayOfMonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertarCsatoloTipusGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertarCsatoloTipusGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertarCsatoloTipusGetResult" nillable="true" type="q58:ArrayOfHattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertarTipusGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertarTipusGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertarTipusGetResult" nillable="true" type="q59:ArrayOfHattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="UsbGetResult" nillable="true" type="q60:ArrayOfUsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAlaplap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="csatolo_id" type="xs:int" />
        <xs:element minOccurs="0" name="usb_id" type="xs:int" />
        <xs:element minOccurs="0" name="usbdb" type="xs:int" />
        <xs:element minOccurs="0" name="hatdb" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="gyarto_id" type="xs:int" />
        <xs:element minOccurs="0" name="foglalat_id" type="xs:int" />
        <xs:element minOccurs="0" name="memoria_id" type="xs:int" />
        <xs:element minOccurs="0" name="vga_id" type="xs:int" />
        <xs:element minOccurs="0" name="pci_id" type="xs:int" />
        <xs:element minOccurs="0" name="mem_db" type="xs:int" />
        <xs:element minOccurs="0" name="vga_db" type="xs:int" />
        <xs:element minOccurs="0" name="ps2" type="xs:boolean" />
        <xs:element minOccurs="0" name="megnevezes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ar" type="xs:int" />
        <xs:element minOccurs="0" name="db" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAlaplapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PciGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PciGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="PciGetResult" nillable="true" type="q61:ArrayOfPciExpressTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="VgaGetResult" nillable="true" type="q62:ArrayOfVgaCsatoloFeluletTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MemoriaGetResult" nillable="true" type="q63:ArrayOfMemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesszorGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesszorGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcesszorGetResult" nillable="true" type="q64:ArrayOfProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GyartoGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GyartoGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GyartoGetResult" nillable="true" type="q65:ArrayOfAlkatreszGyarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlaplap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlaplapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GetAlaplapResult" nillable="true" type="q66:ArrayOfFokategoriatipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillentyuzet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillentyuzetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GetBillentyuzetResult" nillable="true" type="q67:ArrayOfFokategoriatipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEger">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEgerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GetEgerResult" nillable="true" type="q68:ArrayOfFokategoriatipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHattertar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHattertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GetHattertarResult" nillable="true" type="q69:ArrayOfFokategoriatipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemoria">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GetMemoriaResult" nillable="true" type="q70:ArrayOfFokategoriatipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GetMonitorResult" nillable="true" type="q71:ArrayOfFokategoriatipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcesszor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcesszorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GetProcesszorResult" nillable="true" type="q72:ArrayOfFokategoriatipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSzamitogephaz">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSzamitogephazResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GetSzamitogephazResult" nillable="true" type="q73:ArrayOfFokategoriatipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTapegyseg">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTapegysegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GetTapegysegResult" nillable="true" type="q74:ArrayOfFokategoriatipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideokartya">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideokartyaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="GetVideokartyaResult" nillable="true" type="q75:ArrayOfFokategoriatipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcFoglalat_GetKategoriakResult" nillable="true" type="q76:ArrayOfProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcFoglalat_GetKategoriakByNameResult" nillable="true" type="q77:ArrayOfProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcFoglalat_GetKategoriaByIDResult" nillable="true" type="q78:ProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q79:ProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q80:ProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MemoriaFoglalat_GetKaegoriakResult" nillable="true" type="q81:ArrayOfMemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MemoriaFoglalat_GetKaegoriakByNameResult" nillable="true" type="q82:ArrayOfMemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MemoriaFoglalat_GetKategoriaByIDResult" nillable="true" type="q83:MemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q84:MemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q85:MemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="UsbTipus_GetKaegoriakResult" nillable="true" type="q86:ArrayOfUsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="UsbTipus_GetKaegoriakByNameResult" nillable="true" type="q87:ArrayOfUsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q88:UsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q89:UsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="UsbTipus_GetKategoriaByIDResult" nillable="true" type="q90:UsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatTipus_GetKaegoriakResult" nillable="true" type="q91:ArrayOfHattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatTipus_GetKaegoriakByNameResult" nillable="true" type="q92:ArrayOfHattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatTipus_GetKategoriaByIDResult" nillable="true" type="q93:HattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q94:HattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q95:HattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatCsatoloTipus_GetKaegoriakResult" nillable="true" type="q96:ArrayOfHattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatCsatoloTipus_GetKaegoriakByNameResult" nillable="true" type="q97:ArrayOfHattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatCsatoloTipus_GetKategoriaByIDResult" nillable="true" type="q98:HattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q99:HattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q100:HattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorFelbontasTipus_GetKaegoriakResult" nillable="true" type="q101:ArrayOfMonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="felbontas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorFelbontasTipus_GetKaegoriakByNameResult" nillable="true" type="q102:ArrayOfMonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorFelbontasTipus_GetKategoriaByIDResult" nillable="true" type="q103:MonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q104:MonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q105:MonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorMeretTipus_GetKaegoriakResult" nillable="true" type="q106:ArrayOfMonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorMeretTipus_GetKaegoriakByNameResult" nillable="true" type="q107:ArrayOfMonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorMeretTipus_GetKategoriaByIDResult" nillable="true" type="q108:MonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="meret" nillable="true" type="q109:MonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="meret" nillable="true" type="q110:MonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByFoglalatID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByFoglalatIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetByFoglalatIDResult" nillable="true" type="q111:PageableListOfAlaplap6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetListByFoglalatID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetListByFoglalatIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetListByFoglalatIDResult" nillable="true" type="q112:ArrayOfAlaplap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByMemoriaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByMemoriaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetByMemoriaIDResult" nillable="true" type="q113:PageableListOfAlaplap6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByUsbID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByUsbIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Billentyuzet_GetByUsbIDResult" nillable="true" type="q114:PageableListOfBillentyuzet6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByPs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Billentyuzet_GetByPsResult" nillable="true" type="q115:PageableListOfBillentyuzet6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>