ComputerStore/ComputerStore.Client/Service References/BusinessLogic/Logic2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51437/Logic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
  <xs:element name="ProcFoglalat_GetKategoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcFoglalat_GetKategoriakResult" nillable="true" type="q1:ArrayOfProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MemoriaFoglalat_GetKaegoriakResult" nillable="true" type="q2:ArrayOfMemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="UsbTipus_GetKaegoriakResult" nillable="true" type="q3:ArrayOfUsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatTipus_GetKaegoriakResult" nillable="true" type="q4:ArrayOfHattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatCsatoloTipus_GetKaegoriakResult" nillable="true" type="q5:ArrayOfHattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorFelbontasTipus_GetKaegoriakResult" nillable="true" type="q6:ArrayOfMonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorMeretTipus_GetKaegoriakResult" nillable="true" type="q7:ArrayOfMonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByFoglalatID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByFoglalatIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetByFoglalatIDResult" nillable="true" type="q8:PageableListOfAlaplap6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByMemoriaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByMemoriaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetByMemoriaIDResult" nillable="true" type="q9:PageableListOfAlaplap6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByUsbID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByUsbIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Billentyuzet_GetByUsbIDResult" nillable="true" type="q10:PageableListOfBillentyuzet6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByPs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Billentyuzet_GetByPsResult" nillable="true" type="q11:PageableListOfBillentyuzet6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByUsbID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByUsbIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Eger_GetByUsbIDResult" nillable="true" type="q12:PageableListOfEger6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByPs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Eger_GetByPsResult" nillable="true" type="q13:PageableListOfEger6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarTipus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarTipusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Hattertar_GetByHattertarTipusResult" nillable="true" type="q14:PageableListOfHattertar6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarCsatolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarCsatoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Hattertar_GetByHattertarCsatoloResult" nillable="true" type="q15:PageableListOfHattertar6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetByFoglalat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetByFoglalatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Memoria_GetByFoglalatResult" nillable="true" type="q16:PageableListOfMemoria6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByMeret">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByMeretResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Monitor_GetByMeretResult" nillable="true" type="q17:PageableListOfMonitor6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByFelbontas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByFelbontasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Monitor_GetByFelbontasResult" nillable="true" type="q18:PageableListOfMonitor6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetByFoglalat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetByFoglalatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Processzor_GetByFoglalatResult" nillable="true" type="q19:PageableListOfProcesszor6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Szamitogephaz_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Szamitogephaz_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Szamitogephaz_GetResult" nillable="true" type="q20:PageableListOfSzamitogephaz6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Tapegyseg_GetResult" nillable="true" type="q21:PageableListOfTapegyseg6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Videokartya_GetResult" nillable="true" type="q22:PageableListOfVideokartya6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetByIDResult" nillable="true" type="q23:Alaplap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Billentyuzet_GetByIDResult" nillable="true" type="q24:Billentyuzet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Eger_GetByIDResult" nillable="true" type="q25:Eger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Hattertar_GetByIDResult" nillable="true" type="q26:Hattertar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Memoria_GetByIDResult" nillable="true" type="q27:Memoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Monitor_GetByIDResult" nillable="true" type="q28:Monitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Processzor_GetByIDResult" nillable="true" type="q29:Processzor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Szamitogephaz_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Szamitogephaz_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Szamitogephaz_GetByIDResult" nillable="true" type="q30:Szamitogephaz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Tapegyseg_GetByIDResult" nillable="true" type="q31:Tapegyseg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Videokartya_GetByIDResult" nillable="true" type="q32:Videokartya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>