ComputerStore/ComputerStore.Client/Service References/BusinessLogic/Logic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Logic" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51437/Logic.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51437/Logic.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51437/Logic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogic_ProcFoglalat_GetKategoriak_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcFoglalat_GetKategoriak" />
  </wsdl:message>
  <wsdl:message name="ILogic_ProcFoglalat_GetKategoriak_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcFoglalat_GetKategoriakResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_MemoriaFoglalat_GetKaegoriak_InputMessage">
    <wsdl:part name="parameters" element="tns:MemoriaFoglalat_GetKaegoriak" />
  </wsdl:message>
  <wsdl:message name="ILogic_MemoriaFoglalat_GetKaegoriak_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemoriaFoglalat_GetKaegoriakResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_UsbTipus_GetKaegoriak_InputMessage">
    <wsdl:part name="parameters" element="tns:UsbTipus_GetKaegoriak" />
  </wsdl:message>
  <wsdl:message name="ILogic_UsbTipus_GetKaegoriak_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsbTipus_GetKaegoriakResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_HattertatTipus_GetKaegoriak_InputMessage">
    <wsdl:part name="parameters" element="tns:HattertatTipus_GetKaegoriak" />
  </wsdl:message>
  <wsdl:message name="ILogic_HattertatTipus_GetKaegoriak_OutputMessage">
    <wsdl:part name="parameters" element="tns:HattertatTipus_GetKaegoriakResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_HattertatCsatoloTipus_GetKaegoriak_InputMessage">
    <wsdl:part name="parameters" element="tns:HattertatCsatoloTipus_GetKaegoriak" />
  </wsdl:message>
  <wsdl:message name="ILogic_HattertatCsatoloTipus_GetKaegoriak_OutputMessage">
    <wsdl:part name="parameters" element="tns:HattertatCsatoloTipus_GetKaegoriakResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_MonitorFelbontasTipus_GetKaegoriak_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitorFelbontasTipus_GetKaegoriak" />
  </wsdl:message>
  <wsdl:message name="ILogic_MonitorFelbontasTipus_GetKaegoriak_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorFelbontasTipus_GetKaegoriakResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_MonitorMeretTipus_GetKaegoriak_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitorMeretTipus_GetKaegoriak" />
  </wsdl:message>
  <wsdl:message name="ILogic_MonitorMeretTipus_GetKaegoriak_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorMeretTipus_GetKaegoriakResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Alaplap_GetByFoglalatID_InputMessage">
    <wsdl:part name="parameters" element="tns:Alaplap_GetByFoglalatID" />
  </wsdl:message>
  <wsdl:message name="ILogic_Alaplap_GetByFoglalatID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Alaplap_GetByFoglalatIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Alaplap_GetByMemoriaID_InputMessage">
    <wsdl:part name="parameters" element="tns:Alaplap_GetByMemoriaID" />
  </wsdl:message>
  <wsdl:message name="ILogic_Alaplap_GetByMemoriaID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Alaplap_GetByMemoriaIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Billentyuzet_GetByUsbID_InputMessage">
    <wsdl:part name="parameters" element="tns:Billentyuzet_GetByUsbID" />
  </wsdl:message>
  <wsdl:message name="ILogic_Billentyuzet_GetByUsbID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Billentyuzet_GetByUsbIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Billentyuzet_GetByPs_InputMessage">
    <wsdl:part name="parameters" element="tns:Billentyuzet_GetByPs" />
  </wsdl:message>
  <wsdl:message name="ILogic_Billentyuzet_GetByPs_OutputMessage">
    <wsdl:part name="parameters" element="tns:Billentyuzet_GetByPsResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Eger_GetByUsbID_InputMessage">
    <wsdl:part name="parameters" element="tns:Eger_GetByUsbID" />
  </wsdl:message>
  <wsdl:message name="ILogic_Eger_GetByUsbID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eger_GetByUsbIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Eger_GetByPs_InputMessage">
    <wsdl:part name="parameters" element="tns:Eger_GetByPs" />
  </wsdl:message>
  <wsdl:message name="ILogic_Eger_GetByPs_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eger_GetByPsResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Hattertar_GetByHattertarTipus_InputMessage">
    <wsdl:part name="parameters" element="tns:Hattertar_GetByHattertarTipus" />
  </wsdl:message>
  <wsdl:message name="ILogic_Hattertar_GetByHattertarTipus_OutputMessage">
    <wsdl:part name="parameters" element="tns:Hattertar_GetByHattertarTipusResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Hattertar_GetByHattertarCsatolo_InputMessage">
    <wsdl:part name="parameters" element="tns:Hattertar_GetByHattertarCsatolo" />
  </wsdl:message>
  <wsdl:message name="ILogic_Hattertar_GetByHattertarCsatolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Hattertar_GetByHattertarCsatoloResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Memoria_GetByFoglalat_InputMessage">
    <wsdl:part name="parameters" element="tns:Memoria_GetByFoglalat" />
  </wsdl:message>
  <wsdl:message name="ILogic_Memoria_GetByFoglalat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Memoria_GetByFoglalatResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Monitor_GetByMeret_InputMessage">
    <wsdl:part name="parameters" element="tns:Monitor_GetByMeret" />
  </wsdl:message>
  <wsdl:message name="ILogic_Monitor_GetByMeret_OutputMessage">
    <wsdl:part name="parameters" element="tns:Monitor_GetByMeretResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Monitor_GetByFelbontas_InputMessage">
    <wsdl:part name="parameters" element="tns:Monitor_GetByFelbontas" />
  </wsdl:message>
  <wsdl:message name="ILogic_Monitor_GetByFelbontas_OutputMessage">
    <wsdl:part name="parameters" element="tns:Monitor_GetByFelbontasResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Processzor_GetByFoglalat_InputMessage">
    <wsdl:part name="parameters" element="tns:Processzor_GetByFoglalat" />
  </wsdl:message>
  <wsdl:message name="ILogic_Processzor_GetByFoglalat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Processzor_GetByFoglalatResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Szamitogephaz_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Szamitogephaz_Get" />
  </wsdl:message>
  <wsdl:message name="ILogic_Szamitogephaz_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:Szamitogephaz_GetResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Tapegyseg_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Tapegyseg_Get" />
  </wsdl:message>
  <wsdl:message name="ILogic_Tapegyseg_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:Tapegyseg_GetResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Videokartya_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Videokartya_Get" />
  </wsdl:message>
  <wsdl:message name="ILogic_Videokartya_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:Videokartya_GetResponse" />
  </wsdl:message>
  <wsdl:message name="ILogic_Alaplap_GetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:Alaplap_GetByID" />
  </wsdl:message>
  <wsdl:message name="ILogic_Alaplap_GetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Alaplap_GetByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogic">
    <wsdl:operation name="ProcFoglalat_GetKategoriak">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/ProcFoglalat_GetKategoriak" message="tns:ILogic_ProcFoglalat_GetKategoriak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/ProcFoglalat_GetKategoriakResponse" message="tns:ILogic_ProcFoglalat_GetKategoriak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemoriaFoglalat_GetKaegoriak">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/MemoriaFoglalat_GetKaegoriak" message="tns:ILogic_MemoriaFoglalat_GetKaegoriak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/MemoriaFoglalat_GetKaegoriakResponse" message="tns:ILogic_MemoriaFoglalat_GetKaegoriak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsbTipus_GetKaegoriak">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/UsbTipus_GetKaegoriak" message="tns:ILogic_UsbTipus_GetKaegoriak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/UsbTipus_GetKaegoriakResponse" message="tns:ILogic_UsbTipus_GetKaegoriak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HattertatTipus_GetKaegoriak">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/HattertatTipus_GetKaegoriak" message="tns:ILogic_HattertatTipus_GetKaegoriak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/HattertatTipus_GetKaegoriakResponse" message="tns:ILogic_HattertatTipus_GetKaegoriak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HattertatCsatoloTipus_GetKaegoriak">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/HattertatCsatoloTipus_GetKaegoriak" message="tns:ILogic_HattertatCsatoloTipus_GetKaegoriak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/HattertatCsatoloTipus_GetKaegoriakResponse" message="tns:ILogic_HattertatCsatoloTipus_GetKaegoriak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MonitorFelbontasTipus_GetKaegoriak">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/MonitorFelbontasTipus_GetKaegoriak" message="tns:ILogic_MonitorFelbontasTipus_GetKaegoriak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/MonitorFelbontasTipus_GetKaegoriakResponse" message="tns:ILogic_MonitorFelbontasTipus_GetKaegoriak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MonitorMeretTipus_GetKaegoriak">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/MonitorMeretTipus_GetKaegoriak" message="tns:ILogic_MonitorMeretTipus_GetKaegoriak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/MonitorMeretTipus_GetKaegoriakResponse" message="tns:ILogic_MonitorMeretTipus_GetKaegoriak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alaplap_GetByFoglalatID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Alaplap_GetByFoglalatID" message="tns:ILogic_Alaplap_GetByFoglalatID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Alaplap_GetByFoglalatIDResponse" message="tns:ILogic_Alaplap_GetByFoglalatID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alaplap_GetByMemoriaID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Alaplap_GetByMemoriaID" message="tns:ILogic_Alaplap_GetByMemoriaID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Alaplap_GetByMemoriaIDResponse" message="tns:ILogic_Alaplap_GetByMemoriaID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Billentyuzet_GetByUsbID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Billentyuzet_GetByUsbID" message="tns:ILogic_Billentyuzet_GetByUsbID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Billentyuzet_GetByUsbIDResponse" message="tns:ILogic_Billentyuzet_GetByUsbID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Billentyuzet_GetByPs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Billentyuzet_GetByPs" message="tns:ILogic_Billentyuzet_GetByPs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Billentyuzet_GetByPsResponse" message="tns:ILogic_Billentyuzet_GetByPs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eger_GetByUsbID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Eger_GetByUsbID" message="tns:ILogic_Eger_GetByUsbID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Eger_GetByUsbIDResponse" message="tns:ILogic_Eger_GetByUsbID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eger_GetByPs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Eger_GetByPs" message="tns:ILogic_Eger_GetByPs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Eger_GetByPsResponse" message="tns:ILogic_Eger_GetByPs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hattertar_GetByHattertarTipus">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Hattertar_GetByHattertarTipus" message="tns:ILogic_Hattertar_GetByHattertarTipus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Hattertar_GetByHattertarTipusResponse" message="tns:ILogic_Hattertar_GetByHattertarTipus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hattertar_GetByHattertarCsatolo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Hattertar_GetByHattertarCsatolo" message="tns:ILogic_Hattertar_GetByHattertarCsatolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Hattertar_GetByHattertarCsatoloResponse" message="tns:ILogic_Hattertar_GetByHattertarCsatolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Memoria_GetByFoglalat">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Memoria_GetByFoglalat" message="tns:ILogic_Memoria_GetByFoglalat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Memoria_GetByFoglalatResponse" message="tns:ILogic_Memoria_GetByFoglalat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Monitor_GetByMeret">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Monitor_GetByMeret" message="tns:ILogic_Monitor_GetByMeret_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Monitor_GetByMeretResponse" message="tns:ILogic_Monitor_GetByMeret_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Monitor_GetByFelbontas">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Monitor_GetByFelbontas" message="tns:ILogic_Monitor_GetByFelbontas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Monitor_GetByFelbontasResponse" message="tns:ILogic_Monitor_GetByFelbontas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Processzor_GetByFoglalat">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Processzor_GetByFoglalat" message="tns:ILogic_Processzor_GetByFoglalat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Processzor_GetByFoglalatResponse" message="tns:ILogic_Processzor_GetByFoglalat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Szamitogephaz_Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Szamitogephaz_Get" message="tns:ILogic_Szamitogephaz_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Szamitogephaz_GetResponse" message="tns:ILogic_Szamitogephaz_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tapegyseg_Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Tapegyseg_Get" message="tns:ILogic_Tapegyseg_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Tapegyseg_GetResponse" message="tns:ILogic_Tapegyseg_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Videokartya_Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Videokartya_Get" message="tns:ILogic_Videokartya_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Videokartya_GetResponse" message="tns:ILogic_Videokartya_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alaplap_GetByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogic/Alaplap_GetByID" message="tns:ILogic_Alaplap_GetByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogic/Alaplap_GetByIDResponse" message="tns:ILogic_Alaplap_GetByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogic" type="tns:ILogic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcFoglalat_GetKategoriak">
      <soap:operation soapAction="http://tempuri.org/ILogic/ProcFoglalat_GetKategoriak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemoriaFoglalat_GetKaegoriak">
      <soap:operation soapAction="http://tempuri.org/ILogic/MemoriaFoglalat_GetKaegoriak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsbTipus_GetKaegoriak">
      <soap:operation soapAction="http://tempuri.org/ILogic/UsbTipus_GetKaegoriak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HattertatTipus_GetKaegoriak">
      <soap:operation soapAction="http://tempuri.org/ILogic/HattertatTipus_GetKaegoriak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HattertatCsatoloTipus_GetKaegoriak">
      <soap:operation soapAction="http://tempuri.org/ILogic/HattertatCsatoloTipus_GetKaegoriak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorFelbontasTipus_GetKaegoriak">
      <soap:operation soapAction="http://tempuri.org/ILogic/MonitorFelbontasTipus_GetKaegoriak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorMeretTipus_GetKaegoriak">
      <soap:operation soapAction="http://tempuri.org/ILogic/MonitorMeretTipus_GetKaegoriak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alaplap_GetByFoglalatID">
      <soap:operation soapAction="http://tempuri.org/ILogic/Alaplap_GetByFoglalatID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alaplap_GetByMemoriaID">
      <soap:operation soapAction="http://tempuri.org/ILogic/Alaplap_GetByMemoriaID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Billentyuzet_GetByUsbID">
      <soap:operation soapAction="http://tempuri.org/ILogic/Billentyuzet_GetByUsbID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Billentyuzet_GetByPs">
      <soap:operation soapAction="http://tempuri.org/ILogic/Billentyuzet_GetByPs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eger_GetByUsbID">
      <soap:operation soapAction="http://tempuri.org/ILogic/Eger_GetByUsbID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eger_GetByPs">
      <soap:operation soapAction="http://tempuri.org/ILogic/Eger_GetByPs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hattertar_GetByHattertarTipus">
      <soap:operation soapAction="http://tempuri.org/ILogic/Hattertar_GetByHattertarTipus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hattertar_GetByHattertarCsatolo">
      <soap:operation soapAction="http://tempuri.org/ILogic/Hattertar_GetByHattertarCsatolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Memoria_GetByFoglalat">
      <soap:operation soapAction="http://tempuri.org/ILogic/Memoria_GetByFoglalat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Monitor_GetByMeret">
      <soap:operation soapAction="http://tempuri.org/ILogic/Monitor_GetByMeret" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Monitor_GetByFelbontas">
      <soap:operation soapAction="http://tempuri.org/ILogic/Monitor_GetByFelbontas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Processzor_GetByFoglalat">
      <soap:operation soapAction="http://tempuri.org/ILogic/Processzor_GetByFoglalat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Szamitogephaz_Get">
      <soap:operation soapAction="http://tempuri.org/ILogic/Szamitogephaz_Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tapegyseg_Get">
      <soap:operation soapAction="http://tempuri.org/ILogic/Tapegyseg_Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Videokartya_Get">
      <soap:operation soapAction="http://tempuri.org/ILogic/Videokartya_Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alaplap_GetByID">
      <soap:operation soapAction="http://tempuri.org/ILogic/Alaplap_GetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Logic">
    <wsdl:port name="BasicHttpBinding_ILogic" binding="tns:BasicHttpBinding_ILogic">
      <soap:address location="http://localhost:51437/Logic.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>