ComputerStore/ComputerStore.Client/Service References/BusinessLogic/Logic2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51437/Logic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
  <xs:element name="ProcFoglalat_GetKategoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcFoglalat_GetKategoriakResult" nillable="true" type="q1:ArrayOfProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcFoglalat_GetKategoriakByNameResult" nillable="true" type="q2:ArrayOfProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcFoglalat_GetKategoriaByIDResult" nillable="true" type="q3:ProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q4:ProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcFoglalat_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MemoriaFoglalat_GetKaegoriakResult" nillable="true" type="q5:ArrayOfMemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MemoriaFoglalat_GetKaegoriakByNameResult" nillable="true" type="q6:ArrayOfMemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MemoriaFoglalat_GetKategoriaByIDResult" nillable="true" type="q7:MemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q8:MemoriaTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoriaFoglalat_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="UsbTipus_GetKaegoriakResult" nillable="true" type="q9:ArrayOfUsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="UsbTipus_GetKaegoriakByNameResult" nillable="true" type="q10:ArrayOfUsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q11:UsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsbTipus_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="UsbTipus_GetKategoriaByIDResult" nillable="true" type="q12:UsbTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatTipus_GetKaegoriakResult" nillable="true" type="q13:ArrayOfHattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatTipus_GetKaegoriakByNameResult" nillable="true" type="q14:ArrayOfHattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatTipus_GetKategoriaByIDResult" nillable="true" type="q15:HattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q16:HattertarTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatTipus_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatCsatoloTipus_GetKaegoriakResult" nillable="true" type="q17:ArrayOfHattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatCsatoloTipus_GetKaegoriakByNameResult" nillable="true" type="q18:ArrayOfHattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="HattertatCsatoloTipus_GetKategoriaByIDResult" nillable="true" type="q19:HattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q20:HattertarCsatoloTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HattertatCsatoloTipus_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorFelbontasTipus_GetKaegoriakResult" nillable="true" type="q21:ArrayOfMonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="felbontas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorFelbontasTipus_GetKaegoriakByNameResult" nillable="true" type="q22:ArrayOfMonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorFelbontasTipus_GetKategoriaByIDResult" nillable="true" type="q23:MonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q24:MonitorFelbontas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorFelbontasTipus_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKaegoriak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKaegoriakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorMeretTipus_GetKaegoriakResult" nillable="true" type="q25:ArrayOfMonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKaegoriakByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKaegoriakByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorMeretTipus_GetKaegoriakByNameResult" nillable="true" type="q26:ArrayOfMonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKategoriaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_GetKategoriaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="MonitorMeretTipus_GetKategoriaByIDResult" nillable="true" type="q27:MonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="meret" nillable="true" type="q28:MonitorMeret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMeretTipus_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByFoglalatID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByFoglalatIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetByFoglalatIDResult" nillable="true" type="q29:PageableListOfAlaplap6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByMemoriaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByMemoriaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetByMemoriaIDResult" nillable="true" type="q30:PageableListOfAlaplap6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByUsbID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByUsbIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Billentyuzet_GetByUsbIDResult" nillable="true" type="q31:PageableListOfBillentyuzet6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByPs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Billentyuzet_GetByPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Billentyuzet_GetByPsResult" nillable="true" type="q32:PageableListOfBillentyuzet6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByUsbID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByUsbIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Eger_GetByUsbIDResult" nillable="true" type="q33:PageableListOfEger6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByPs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eger_GetByPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Eger_GetByPsResult" nillable="true" type="q34:PageableListOfEger6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarTipus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarTipusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Hattertar_GetByHattertarTipusResult" nillable="true" type="q35:PageableListOfHattertar6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarCsatolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hattertar_GetByHattertarCsatoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Hattertar_GetByHattertarCsatoloResult" nillable="true" type="q36:PageableListOfHattertar6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetByFoglalat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memoria_GetByFoglalatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Memoria_GetByFoglalatResult" nillable="true" type="q37:PageableListOfMemoria6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByMeret">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByMeretResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Monitor_GetByMeretResult" nillable="true" type="q38:PageableListOfMonitor6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByFelbontas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor_GetByFelbontasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Monitor_GetByFelbontasResult" nillable="true" type="q39:PageableListOfMonitor6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetByFoglalat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processzor_GetByFoglalatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Processzor_GetByFoglalatResult" nillable="true" type="q40:PageableListOfProcesszor6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Szamitogephaz_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Szamitogephaz_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Szamitogephaz_GetResult" nillable="true" type="q41:PageableListOfSzamitogephaz6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tapegyseg_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Tapegyseg_GetResult" nillable="true" type="q42:PageableListOfTapegyseg6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videokartya_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Videokartya_GetResult" nillable="true" type="q43:PageableListOfVideokartya6PZ3m5ND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alaplap_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Alaplap_GetByIDResult" nillable="true" type="q44:Alaplap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="PCIExpress_GetByNameResult" nillable="true" type="q45:ArrayOfPciExpressTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="PCIExpress_GetByIDResult" nillable="true" type="q46:PciExpressTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q47:PciExpressTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCIExpress_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesszorFoglalat_GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesszorFoglalat_GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcesszorFoglalat_GetByNameResult" nillable="true" type="q48:ArrayOfProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesszorFoglalat_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesszorFoglalat_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="ProcesszorFoglalat_GetByIDResult" nillable="true" type="q49:ProcesszorFoglalatTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="VgaCsatolo_GetByNameResult" nillable="true" type="q50:ArrayOfVgaCsatoloFeluletTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="VgaCsatolo_GetByIDResult" nillable="true" type="q51:VgaCsatoloFeluletTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q52:VgaCsatoloFeluletTipus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VgaCsatolo_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Gyarto_GetByNameResult" nillable="true" type="q53:ArrayOfAlkatreszGyarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="Gyarto_GetByIDResult" nillable="true" type="q54:AlkatreszGyarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" minOccurs="0" name="type" nillable="true" type="q55:AlkatreszGyarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gyarto_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>