ComputerStore/ComputerStore.Client/Service References/BusinessLogic/Logic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Szamitogephaz">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Kategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Db" type="xs:int" />
          <xs:element minOccurs="0" name="Gyarto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Szamitogephaz" nillable="true" type="tns:Szamitogephaz" />
  <xs:complexType name="Kategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Db" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Megnevezes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NettoAr" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kategoria" nillable="true" type="tns:Kategoria" />
  <xs:complexType name="Tapegyseg">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Kategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Db" type="xs:int" />
          <xs:element minOccurs="0" name="Gyarto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Teljesitmeny" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tapegyseg" nillable="true" type="tns:Tapegyseg" />
  <xs:complexType name="Videokartya">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Kategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Db" type="xs:int" />
          <xs:element minOccurs="0" name="Gyarto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="MemoriaMeret" type="xs:int" />
          <xs:element minOccurs="0" name="MemoriaTipus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemoriaTipusID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Videokartya" nillable="true" type="tns:Videokartya" />
  <xs:complexType name="ArrayOfFokategoriatipus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fokategoriatipus" nillable="true" type="tns:Fokategoriatipus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFokategoriatipus" nillable="true" type="tns:ArrayOfFokategoriatipus" />
  <xs:complexType name="Fokategoriatipus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Megnevezes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fokategoriatipus" nillable="true" type="tns:Fokategoriatipus" />
  <xs:complexType name="ArrayOfProcesszorFoglalatTipus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcesszorFoglalatTipus" nillable="true" type="tns:ProcesszorFoglalatTipus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcesszorFoglalatTipus" nillable="true" type="tns:ArrayOfProcesszorFoglalatTipus" />
  <xs:complexType name="ProcesszorFoglalatTipus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcesszorFoglalatTipus" nillable="true" type="tns:ProcesszorFoglalatTipus" />
  <xs:complexType name="AlkatreszTipus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Megnevezes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlkatreszTipus" nillable="true" type="tns:AlkatreszTipus" />
  <xs:complexType name="ArrayOfMemoriaTipus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemoriaTipus" nillable="true" type="tns:MemoriaTipus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemoriaTipus" nillable="true" type="tns:ArrayOfMemoriaTipus" />
  <xs:complexType name="MemoriaTipus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MemoriaTipus" nillable="true" type="tns:MemoriaTipus" />
  <xs:complexType name="ArrayOfUsbTipus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsbTipus" nillable="true" type="tns:UsbTipus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsbTipus" nillable="true" type="tns:ArrayOfUsbTipus" />
  <xs:complexType name="UsbTipus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsbTipus" nillable="true" type="tns:UsbTipus" />
  <xs:complexType name="ArrayOfHattertarTipus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HattertarTipus" nillable="true" type="tns:HattertarTipus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHattertarTipus" nillable="true" type="tns:ArrayOfHattertarTipus" />
  <xs:complexType name="HattertarTipus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HattertarTipus" nillable="true" type="tns:HattertarTipus" />
  <xs:complexType name="ArrayOfHattertarCsatoloTipus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HattertarCsatoloTipus" nillable="true" type="tns:HattertarCsatoloTipus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHattertarCsatoloTipus" nillable="true" type="tns:ArrayOfHattertarCsatoloTipus" />
  <xs:complexType name="HattertarCsatoloTipus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HattertarCsatoloTipus" nillable="true" type="tns:HattertarCsatoloTipus" />
  <xs:complexType name="ArrayOfMonitorFelbontas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonitorFelbontas" nillable="true" type="tns:MonitorFelbontas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonitorFelbontas" nillable="true" type="tns:ArrayOfMonitorFelbontas" />
  <xs:complexType name="MonitorFelbontas">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MonitorFelbontas" nillable="true" type="tns:MonitorFelbontas" />
  <xs:complexType name="ArrayOfMonitorMeret">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonitorMeret" nillable="true" type="tns:MonitorMeret" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonitorMeret" nillable="true" type="tns:ArrayOfMonitorMeret" />
  <xs:complexType name="MonitorMeret">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MonitorMeret" nillable="true" type="tns:MonitorMeret" />
  <xs:complexType name="PageableListOfAlaplap6PZ3m5ND">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageableListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Alaplap" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfAlaplap" />
      <xs:element minOccurs="0" name="MaxPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageableListOfAlaplap6PZ3m5ND" nillable="true" type="tns:PageableListOfAlaplap6PZ3m5ND" />
  <xs:complexType name="ArrayOfAlaplap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alaplap" nillable="true" type="tns:Alaplap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlaplap" nillable="true" type="tns:ArrayOfAlaplap" />
  <xs:complexType name="Alaplap">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Kategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Db" type="xs:int" />
          <xs:element minOccurs="0" name="Foglalat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FoglalatID" type="xs:int" />
          <xs:element minOccurs="0" name="Gyarto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IsPs2" type="xs:boolean" />
          <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Leiras" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemoriaDarab" type="xs:int" />
          <xs:element minOccurs="0" name="MemoriaFoglalat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemoriaFoglalatID" type="xs:int" />
          <xs:element minOccurs="0" name="VGADarab" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Alaplap" nillable="true" type="tns:Alaplap" />
  <xs:complexType name="PageableListOfBillentyuzet6PZ3m5ND">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageableListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Billentyuzet" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfBillentyuzet" />
      <xs:element minOccurs="0" name="MaxPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageableListOfBillentyuzet6PZ3m5ND" nillable="true" type="tns:PageableListOfBillentyuzet6PZ3m5ND" />
  <xs:complexType name="ArrayOfBillentyuzet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Billentyuzet" nillable="true" type="tns:Billentyuzet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillentyuzet" nillable="true" type="tns:ArrayOfBillentyuzet" />
  <xs:complexType name="Billentyuzet">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Kategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Db" type="xs:int" />
          <xs:element minOccurs="0" name="Gyarto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IsPs2" type="xs:boolean" />
          <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Usb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsbID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Billentyuzet" nillable="true" type="tns:Billentyuzet" />
  <xs:complexType name="PageableListOfEger6PZ3m5ND">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageableListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Eger" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfEger" />
      <xs:element minOccurs="0" name="MaxPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageableListOfEger6PZ3m5ND" nillable="true" type="tns:PageableListOfEger6PZ3m5ND" />
  <xs:complexType name="ArrayOfEger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Eger" nillable="true" type="tns:Eger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEger" nillable="true" type="tns:ArrayOfEger" />
  <xs:complexType name="Eger">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Kategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Db" type="xs:int" />
          <xs:element minOccurs="0" name="Gyarto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IsPs2" type="xs:boolean" />
          <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Usb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsbID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Eger" nillable="true" type="tns:Eger" />
  <xs:complexType name="PageableListOfHattertar6PZ3m5ND">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageableListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Hattertar" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfHattertar" />
      <xs:element minOccurs="0" name="MaxPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageableListOfHattertar6PZ3m5ND" nillable="true" type="tns:PageableListOfHattertar6PZ3m5ND" />
  <xs:complexType name="ArrayOfHattertar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hattertar" nillable="true" type="tns:Hattertar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHattertar" nillable="true" type="tns:ArrayOfHattertar" />
  <xs:complexType name="Hattertar">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Kategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Csatolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CsatoloID" type="xs:int" />
          <xs:element minOccurs="0" name="Db" type="xs:int" />
          <xs:element minOccurs="0" name="Gyarto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Meret" type="xs:int" />
          <xs:element minOccurs="0" name="Tipus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipusID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Hattertar" nillable="true" type="tns:Hattertar" />
  <xs:complexType name="PageableListOfMemoria6PZ3m5ND">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageableListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Memoria" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfMemoria" />
      <xs:element minOccurs="0" name="MaxPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageableListOfMemoria6PZ3m5ND" nillable="true" type="tns:PageableListOfMemoria6PZ3m5ND" />
  <xs:complexType name="ArrayOfMemoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Memoria" nillable="true" type="tns:Memoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemoria" nillable="true" type="tns:ArrayOfMemoria" />
  <xs:complexType name="Memoria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Kategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Db" type="xs:int" />
          <xs:element minOccurs="0" name="Foglalat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FoglalatID" type="xs:int" />
          <xs:element minOccurs="0" name="Gyarto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="MemoriaMeret" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Memoria" nillable="true" type="tns:Memoria" />
  <xs:complexType name="PageableListOfMonitor6PZ3m5ND">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageableListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Monitor" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfMonitor" />
      <xs:element minOccurs="0" name="MaxPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageableListOfMonitor6PZ3m5ND" nillable="true" type="tns:PageableListOfMonitor6PZ3m5ND" />
  <xs:complexType name="ArrayOfMonitor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Monitor" nillable="true" type="tns:Monitor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonitor" nillable="true" type="tns:ArrayOfMonitor" />
  <xs:complexType name="Monitor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Kategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Csatolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CsatoloID" type="xs:int" />
          <xs:element minOccurs="0" name="Db" type="xs:int" />
          <xs:element minOccurs="0" name="Felbontas" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FelbontasID" type="xs:int" />
          <xs:element minOccurs="0" name="Gyarto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Meret" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MeretID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Monitor" nillable="true" type="tns:Monitor" />
  <xs:complexType name="PageableListOfProcesszor6PZ3m5ND">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageableListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Processzor" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfProcesszor" />
      <xs:element minOccurs="0" name="MaxPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageableListOfProcesszor6PZ3m5ND" nillable="true" type="tns:PageableListOfProcesszor6PZ3m5ND" />
  <xs:complexType name="ArrayOfProcesszor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Processzor" nillable="true" type="tns:Processzor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcesszor" nillable="true" type="tns:ArrayOfProcesszor" />
  <xs:complexType name="Processzor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Kategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Db" type="xs:int" />
          <xs:element minOccurs="0" name="Frekvencia" type="xs:decimal" />
          <xs:element minOccurs="0" name="FrekvenciaMertek" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FrekvenciaMertekID" type="xs:int" />
          <xs:element minOccurs="0" name="Gyarto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Kep" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Magok" type="xs:int" />
          <xs:element minOccurs="0" name="ProcFoglalat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProcFoglalatID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Processzor" nillable="true" type="tns:Processzor" />
  <xs:complexType name="PageableListOfSzamitogephaz6PZ3m5ND">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageableListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Szamitogephaz" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfSzamitogephaz" />
      <xs:element minOccurs="0" name="MaxPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageableListOfSzamitogephaz6PZ3m5ND" nillable="true" type="tns:PageableListOfSzamitogephaz6PZ3m5ND" />
  <xs:complexType name="ArrayOfSzamitogephaz">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Szamitogephaz" nillable="true" type="tns:Szamitogephaz" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSzamitogephaz" nillable="true" type="tns:ArrayOfSzamitogephaz" />
  <xs:complexType name="PageableListOfTapegyseg6PZ3m5ND">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageableListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Tapegyseg" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfTapegyseg" />
      <xs:element minOccurs="0" name="MaxPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageableListOfTapegyseg6PZ3m5ND" nillable="true" type="tns:PageableListOfTapegyseg6PZ3m5ND" />
  <xs:complexType name="ArrayOfTapegyseg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tapegyseg" nillable="true" type="tns:Tapegyseg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTapegyseg" nillable="true" type="tns:ArrayOfTapegyseg" />
  <xs:complexType name="PageableListOfVideokartya6PZ3m5ND">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageableListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Videokartya" Namespace="http://schemas.datacontract.org/2004/07/ComputerStore.DTO.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfVideokartya" />
      <xs:element minOccurs="0" name="MaxPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageableListOfVideokartya6PZ3m5ND" nillable="true" type="tns:PageableListOfVideokartya6PZ3m5ND" />
  <xs:complexType name="ArrayOfVideokartya">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Videokartya" nillable="true" type="tns:Videokartya" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideokartya" nillable="true" type="tns:ArrayOfVideokartya" />
  <xs:complexType name="ArrayOfPciExpressTipus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PciExpressTipus" nillable="true" type="tns:PciExpressTipus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPciExpressTipus" nillable="true" type="tns:ArrayOfPciExpressTipus" />
  <xs:complexType name="PciExpressTipus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PciExpressTipus" nillable="true" type="tns:PciExpressTipus" />
  <xs:complexType name="ArrayOfVgaCsatoloFeluletTipus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VgaCsatoloFeluletTipus" nillable="true" type="tns:VgaCsatoloFeluletTipus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVgaCsatoloFeluletTipus" nillable="true" type="tns:ArrayOfVgaCsatoloFeluletTipus" />
  <xs:complexType name="VgaCsatoloFeluletTipus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VgaCsatoloFeluletTipus" nillable="true" type="tns:VgaCsatoloFeluletTipus" />
  <xs:complexType name="ArrayOfAlkatreszGyarto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlkatreszGyarto" nillable="true" type="tns:AlkatreszGyarto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlkatreszGyarto" nillable="true" type="tns:ArrayOfAlkatreszGyarto" />
  <xs:complexType name="AlkatreszGyarto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlkatreszGyarto" nillable="true" type="tns:AlkatreszGyarto" />
  <xs:complexType name="ArrayOfMonitorCsatoloTipus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonitorCsatoloTipus" nillable="true" type="tns:MonitorCsatoloTipus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonitorCsatoloTipus" nillable="true" type="tns:ArrayOfMonitorCsatoloTipus" />
  <xs:complexType name="MonitorCsatoloTipus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlkatreszTipus">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MonitorCsatoloTipus" nillable="true" type="tns:MonitorCsatoloTipus" />
</xs:schema>